
header {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color:$color-principal;
    }

    nav {
        background-color: aqua;

        li {
            list-style-type: none;
            display: inline-block;

            a {
                text-decoration: none;
                font-weight: bold;
                text-transform: uppercase;
                color: $color-principal;
                margin: $margen;

                &:hover {
                    background-color: white;
                }
            }
        }
    }
}

p {
    color:$color-principal;
    font-size: $fuentesTam * 2;
}